.cell {
	width: 5vw;
	height: 5vw;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $cellColor;

	&._animated {
		animation-duration: 0.7s;
		animation-name: rotateCell;
		animation-fill-mode: forwards;
	}
}

@keyframes rotateCell {
	from {
		transform: perspective(100px) rotateX(0deg);
	}
	to {
		transform: perspective(100px) rotateX(180deg);
	}
}