$bp1: 1200;
$bp2: 992;
$bp3: 767;

$textColor: black;
$pageColor: #B1BEB9;
$showcaseColor: #6F8573;
$cellColor: #505D68;
$btnColor: #505D68;

/*
@media (min-width: $bp1) {
}
@media (max-width: $bp1) {
}
@media (max-width: $bp2) {
}
@media (max-width: $bp3) {
}
*/